<h1 class="contact-title">📇 Liste des contacts</h1>

<!-- Barre de recherche et boutons -->
<div class="contact-controls">
  <input
    type="text"
    placeholder="🔍 Rechercher un contact..."
    [(ngModel)]="searchTerm"
    (input)="onSearch()"
    class="search-input"
  />

  <button mat-icon-button (click)="onAddContact()" class="icon-button">
    <mat-icon>person_add</mat-icon>
  </button>

  <button mat-icon-button [routerLink]="['/contact-favoris']" class="favorites-btn">
    <mat-icon class="icon">favorite</mat-icon>
  </button>
</div>

<!-- Liste des contacts -->
<div class="contact-container">
  <mat-list role="list">
    @for (letter of getKeys(filteredContactsGrouped()).sort(); track letter) {
      <h3 class="contact-letter">{{ letter }}</h3>

      @for (contact of filteredContactsGrouped()[letter]; track contact.id) {
        <div class="contact-row">
          <!-- Image de profil -->
          <div class="profile-picture">
            <img [src]="contact.imagePreview" alt="Photo de profil" />
          </div>

          <!-- Infos contact -->
          <mat-list-item role="listitem" class="contact-item">
            <span [routerLink]="['/contact-detail', contact.id]" class="contact-link">
              {{ contact.prenom }} {{ contact.nom }}<br />
              <a href="mailto:{{ contact.email }}" class="email">{{ contact.email }}</a>
            </span>
            <mat-divider></mat-divider>
          </mat-list-item>

          <!-- Menu d'actions -->
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" class="menu-button">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/contact-detail', contact.id]">
              <mat-icon>edit</mat-icon>
              <span>Éditer</span>
            </button>

            <button mat-menu-item (click)="onDelete(contact.id)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>

            <button mat-menu-item [routerLink]="['/contact-email', contact.id]">
              <mat-icon>email</mat-icon>
              <span>Envoyer Email</span>
            </button>

            <button mat-menu-item (click)="onFavoriteContact(contact)">
              <mat-icon class="icon">favorite</mat-icon>
              <span>Ajouter aux favoris</span>
            </button>
          </mat-menu>
        </div>
      }
    }
  </mat-list>

  <p class="contact-total">Nombre de contacts : {{ filteredContacts().length }}</p>
</div>
